<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TechStore | Categorías</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>

    <header th:insert="~{fragments/menu :: menu-principal}"></header>

    <main role="main" class="container" style="padding-top: 5.5rem;">
        <div class="card">
            <h2 class="card-header d-flex justify-content-between align-items-center">
                Categorías de Productos
                <a th:href="@{/categorias/create}" class="btn btn-primary btn-sm">Nueva Categoría</a>
            </h2>
            
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>DESCRIPCIÓN</th>
                            <th>¿ACTIVA?</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cat : ${categorias}">
                            <td th:text="${cat.id}"></td>
                            <td th:text="${cat.nomCategoria}"></td>
                            <td th:text="${cat.descripcion}"></td>
                            <td>
                                <span th:if="${cat.activo}" class="badge badge-success">Sí</span>
                                <span th:unless="${cat.activo}" class="badge badge-danger">No</span>
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-warning btn-sm">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}"></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>